:ruby
  full_width = local_assigns[:full_width]
  channel = local_assigns[:channel]
  reactProps = {
    i18nDropdownInBase: view_options[:has_i18n],
    localeUrl: locale_url,
    currentLocale: Cdo::I18n.current_locale_option(locale, request.ge_region),
    localeOptions: Cdo::I18n.locale_options.map {|(text, value)| {text: text, value: value}},
    groupedLocaleOptions: Cdo::I18n.grouped_ge_regions_locale_options.map do |group_name, options|
      {label: group_name, groupItems: options.map {|(text, value)| {text: text, value: value}}}
    end,
    privacyPolicyInBase: true,
    copyrightInBase: true,
    baseMoreMenuString: I18n.t('footer.more'),
    menuItems: [],
    # false because we're not rendering into a phone wireframe here
    phoneFooter: false,
    fullWidth: full_width,
    channel: channel,
    unitYear: view_options[:unit_year]
  }

#page-small-footer
%script{src: webpack_asset_path('js/layouts/_small_footer.js'), data: {smallfooter: reactProps.to_json}}
