@import '@code-dot-org/themes/font.scss';
@import '@code-dot-org/themes/mixins.scss';
@import '@code-dot-org/themes/primitiveColors.scss';
@import '@code-dot-org/themes/colors.scss';

.tabs {
  ul {
    display: inline-flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    position: relative;

    &::after {
      // Adds a border to the bottom of the tabs
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      z-index: -1;
      border-bottom: 1px solid var(--borders-neutral-primary);
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
    }
  }

  button[role='tab'] {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: none;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// Tabs Colors
.tabs-primary {
  li button[role='tab'] {
    align-items: baseline;
    background-color: transparent;
    border-radius: 0;
  }

  &.tabs-light {
    ul::after {
      border-color: var(--borders-neutral-primary);
    }

    li button[role='tab'] {
      color: var(--text-neutral-tertiary);

      &:hover {
        color: var(--text-brand-teal-primary);
        border: none;
        border-bottom: 2px solid var(--borders-brand-teal-primary);
      }

      &:focus-visible {
        color: var(--text-brand-teal-primary);
        outline: 2px solid var(--borders-brand-teal-primary);
      }

      &:active:not(:disabled) {
        color: var(--text-neutral-primary);
        border: none !important;
        border-bottom: 2px solid var(--borders-brand-teal-primary) !important;
      }

      &.selectedTab {
        color: var(--text-neutral-primary);
        border-bottom: 2px solid var(--borders-brand-teal-primary);
      }

      &:disabled {
        cursor: not-allowed;
        color: var(--text-neutral-disabled);
        border: none !important;
      }
    }
  }

  &.tabs-dark {
    ul::after {
      border-color: var(--borders-neutral-primary);
    }

    li button[role='tab'] {
      color: var(--neutral-gray-20);

      &:hover {
        color: var(--text-neutral-inverse);
        border: none;
        border-bottom: 2px solid var(--borders-brand-teal-primary);
      }

      &:focus-visible {
        color: var(--text-neutral-inverse);
        outline: 2px solid var(--borders-brand-teal-primary);
      }

      &:active:not(:disabled) {
        color: var(--text-neutral-inverse);
        border: none !important;
        border-bottom: 2px solid var(--borders-brand-teal-primary) !important;
      }

      &.selectedTab {
        color: var(--text-neutral-inverse);
        border-bottom: 2px solid var(--borders-brand-teal-primary);
      }

      &:disabled {
        cursor: not-allowed;
        color: var(--neutral-gray-80);
        border: none !important;
      }
    }
  }
}

.tabs-secondary {
  li button[role='tab'] {
    align-items: center;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &.tabs-light {
    ul::after {
      border-color: var(--borders-neutral-primary);
    }

    li button[role='tab'] {
      color: var(--text-neutral-tertiary);
      background-color: var(--background-neutral-secondary);
      border: 1px solid var(--borders-neutral-primary);

      &:hover {
        color: var(--text-neutral-primary);
        background-color: var(--background-neutral-tertiary);
        border: 1px solid var(--borders-neutral-primary);
      }

      &:focus-visible {
        color: var(--text-neutral-white-fixed);
        background-color: var(--background-brand-teal-primary);
        border-color: transparent;
        border-left: none;
        border-right: none;
        border-bottom-color: var(--borders-neutral-primary);
        outline: 2px solid var(--borders-brand-teal-primary);
        outline-offset: 2px;

        &:not(.selectedTab, :active) button {
          color: var(--text-neutral-white-fixed);
        }
      }

      &:active:not(:disabled) {
        color: var(--text-brand-teal-primary);
        background-color: var(--background-neutral-primary);
        border: 1px solid var(--borders-neutral-primary) !important;
        border-bottom-color: transparent !important;
      }

      &.selectedTab {
        color: var(--text-brand-teal-primary);
        background-color: var(--background-neutral-primary);
        border: 1px solid var(--borders-neutral-primary);
        border-bottom-color: transparent;
      }

      &:disabled {
        cursor: not-allowed;
        color: var(--text-neutral-disabled);
        background-color: var(--background-neutral-secondary);
        border: 1px solid var(--borders-neutral-disabled);
      }
    }
  }

  &.tabs-dark {
    ul::after {
      border-color: var(--neutral-gray-80);
    }

    li button[role='tab'] {
      color: var(--neutral-gray-20);
      background-color: var(--neutral-gray-95);
      border: 1px solid var(--neutral-gray-80);

      &:hover {
        color: var(--text-neutral-white-fixed);
        background-color: var(--neutral-gray-90);
        border: 1px solid var(--neutral-gray-80);
      }

      &:focus-visible {
        color: var(--text-neutral-white-fixed);
        background-color: var(--background-brand-teal-primary);
        border-color: transparent;
        border-left: none;
        border-right: none;
        border-bottom-color: var(--borders-neutral-primary);
        outline: 2px solid var(--borders-brand-teal-primary);
        outline-offset: 2px;

        &:not(.selectedTab) button {
          color: var(--text-neutral-white-fixed);
        }
      }

      &:active:not(:disabled) {
        color: var(--text-neutral-white-fixed);
        background-color: var(--background-neutral-primary-inverse);
        border: 1px solid var(--neutral-gray-80) !important;
        border-bottom-color: transparent !important;
      }

      &.selectedTab {
        color: var(--text-neutral-white-fixed);
        background-color: var(--background-neutral-primary-inverse);
        border: 1px solid var(--neutral-gray-80);
        border-bottom-color: transparent;
      }

      &:disabled {
        cursor: not-allowed;
        color: var(--neutral-gray-80);
        background-color: var(--neutral-gray-95);
        border: 1px solid var(--neutral-gray-80);
      }
    }
  }
}

// Tabs Sizes
.tabs-l {
  &.tabs-primary {
    i {
      font-size: 1.125rem;
      line-height: 125%;
      width: 1.5rem;
      height: 1.5rem;
    }

    ul {
      gap: 1rem;

      li button[role='tab'] {
        @include button-one-text;
        margin: 0;
        padding: 0.625rem 0;
        gap: 0.5rem;
        max-width: 222px;

        &.iconOnlyTab {
          padding: 0.75rem 1rem;
        }
      }
    }
  }

  &.tabs-secondary {
    i {
      font-size: 1rem;
      line-height: 125%;
      width: 1.25rem;
    }

    ul {
      gap: 0.25rem;

      li button[role='tab'] {
        @include label-one;
        margin: 0;
        padding: 0 0.75rem;
        gap: 0.375rem;
        height: 2rem;
        max-width: 222px;

        &:focus-visible {
          &:not(.selectedTab, :active) {
            padding: 0 calc(0.75rem + 1px);
          }
        }

        &:has(i:first-child) {
          padding-inline-start: 0.625rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-start: calc(0.625rem + 1px);
            }
          }
        }

        &:has(i:last-child) {
          padding-inline-end: 0.625rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-end: calc(0.625rem + 1px);
            }
          }
        }

        &.iconOnlyTab {
          padding: 0 0.625rem;

          &:hover,
          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding: 0 calc(0.625rem + 1px);
            }
          }
        }

        span {
          margin: 3px 0 0;
        }
      }
    }
  }
}

.tabs-m {
  &.tabs-primary {
    i {
      font-size: 1rem;
      line-height: 125%;
      width: 1.25rem;
    }

    ul {
      gap: 1rem;

      li button[role='tab'] {
        @include button-two-text;
        margin: 0;
        padding: 0.5rem 0;
        gap: 0.5rem;
        max-width: 198px;

        &.iconOnlyTab {
          padding: 0.625rem 1rem;
        }
      }
    }
  }

  &.tabs-secondary {
    i {
      font-size: 0.875rem;
      line-height: 125%;
      width: 1.125rem;
    }

    ul {
      gap: 0.25rem;

      li button[role='tab'] {
        @include label-two;
        margin: 0;
        padding: 0 0.75rem;
        gap: 0.375rem;
        height: 1.75rem;
        max-width: 198px;

        &:focus-visible {
          &:not(.selectedTab, :active) {
            padding: 0 calc(0.75rem + 1px);
          }
        }

        &:has(i:first-child) {
          padding-inline-start: 0.625rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-start: calc(0.625rem + 1px);
            }
          }
        }

        &:has(i:last-child) {
          padding-inline-end: 0.625rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-end: calc(0.625rem + 1px);
            }
          }
        }

        &.iconOnlyTab {
          padding: 0 0.625rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding: 0 calc(0.625rem + 1px);
            }
          }
        }

        span {
          margin: 3px 0 0;
        }
      }
    }
  }
}

.tabs-s {
  &.tabs-primary {
    i {
      font-size: 0.875rem;
      line-height: 125%;
      width: 1.125rem;
    }

    ul {
      gap: 1rem;

      li button[role='tab'] {
        @include button-three-text;
        margin: 0;
        padding: 0.3125rem 0;
        gap: 0.375rem;
        max-width: 169px;

        &.iconOnlyTab {
          padding: 0.4375rem 1rem;
        }
      }
    }
  }

  &.tabs-secondary {
    i {
      font-size: 0.75rem;
      line-height: 125%;
      width: 0.9375rem;
    }

    ul {
      gap: 0.125rem;

      li button[role='tab'] {
        @include label-three;
        margin: 0;
        padding: 0 0.625rem;
        gap: 0.25rem;
        height: 1.5rem;
        max-width: 169px;

        &:focus-visible {
          &:not(.selectedTab, :active) {
            padding: 0 calc(0.625rem + 1px);
          }
        }

        &:has(i:first-child) {
          padding-inline-start: 0.5rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-start: calc(0.5rem + 1px);
            }
          }
        }

        &:has(i:last-child) {
          padding-inline-end: 0.5rem;

          &:hover,
          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-end: calc(0.5rem + 1px);
            }
          }
        }

        &.iconOnlyTab {
          padding: 0 0.5rem;

          &:hover,
          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding: 0 calc(0.5rem + 1px);
            }
          }
        }

        span {
          margin: 3px 0 0;
        }
      }
    }
  }
}

.tabs-xs {
  &.tabs-primary {
    i {
      font-size: 0.75rem;
      line-height: 125%;
      width: 1rem;
      height: 1rem;
    }

    ul {
      gap: 0.5rem;

      li button[role='tab'] {
        @include button-four-text;
        margin: 0;
        padding: 0.0625rem 0;
        gap: 0.375rem;
        max-width: 140px;

        &.iconOnlyTab {
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }

  &.tabs-secondary {
    i {
      font-size: 0.625rem;
      line-height: 125%;
      width: 0.8125rem;
    }

    ul {
      gap: 0.125rem;

      li button[role='tab'] {
        @include label-four;
        margin: 0;
        padding: 0 0.5rem;
        gap: 0.25rem;
        height: 1.25rem;
        max-width: 140px;

        &:focus-visible {
          &:not(.selectedTab, :active) {
            padding: 0 calc(0.5rem + 1px);
          }
        }

        &:has(i:first-child) {
          padding-inline-start: 0.4375rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-start: calc(0.4375rem + 1px);
            }
          }
        }

        &:has(i:last-child) {
          padding-inline-end: 0.4375rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding-inline-end: calc(0.4375rem + 1px);
            }
          }
        }

        &.iconOnlyTab {
          padding: 0 0.4375rem;

          &:focus-visible {
            &:not(.selectedTab, :active) {
              padding: 0 calc(0.4375rem + 1px);
            }
          }
        }

        span {
          margin: 1px 0 0;
        }
      }
    }
  }
}
