- require 'cdo/i18n'

%select{onchange: 'setLocale(this.value);', style: 'color: black; max-width: 162.5px;'}
  - Cdo::I18n.locale_options_with_ge_regions.each do |name, value|
    %option{value: value, selected: value == Cdo::I18n.current_locale_option(I18n.locale, request.ge_region)}= name

:javascript
  function setLocale(locale)
  {
    var url = new URL(window.location.href);

    var params = new URLSearchParams(url.search);
    params.set("#{VarnishEnvironment::LOCALE_PARAM_KEY}", locale);
    url.search = params.toString();

    window.location.replace(url);
  }
