:ruby
  require 'cdo/global_edition'
  require 'cdo/i18n'
  require 'varnish_environment'

  selected = I18n.locale.to_s
  options = request.ge_region ? Cdo::GlobalEdition.region_locale_options(request.ge_region) : Cdo::I18n.locale_options

%form{method: :post, action: request.fullpath, 'accept-charset': 'UTF-8'}
  %select.default{name: VarnishEnvironment::LOCALE_PARAM_KEY, onchange: 'this.form.submit();', style: 'color: black; width: 100%; max-width: 162.5px;'}
    - options.each do |name, value|
      %option{value: value, selected: value == selected}= name
