@import 'color';
@import 'font';
@import '@/typography/typography.module';
@import '@/common/styles/mixins';

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90 153 212 / 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90 153 212 / 0);
  }
}

.aiDiffContainer {
  position: fixed;
  left: 10px;
  bottom: 120px;
  z-index: 2000;
  width: 512px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hiddenAiDiffPanel {
  display: none;
}

.pulse {
  animation: pulse 1.5s 1.7;
  box-shadow: 0 0 0 0 rgba(90 153 212 / 0.5);
}

.taOverlay {
  position: fixed;
  left: 51px;
  bottom: 97px;

  height: 18px;
  width: 28px;
  background-size: 28px;
  padding: 0;

  border-width: 2px;
  border-color: $background_gray;
  border-radius: 15px;
  border-style: solid;
}

.aiBotHeader{
  position:relative;
  padding-right: 12px;
  padding-top: 3px;
}

.taOverlayHeader {
  position:absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  border-radius: 58px;
  background: $ai_rubric_cyan;

  span {
    @include main-font-medium;
    color: $light-black;
    font-size: 8px;
    font-style: normal;
    line-height: 100%;
    text-transform: uppercase;
    p {
      margin-bottom: 0;
    }
  }
}

.aiDiffHeader {
  border-radius: 4px 4px 0 0;
  background: $neutral_dark;
  color: $neutral_white;

  border-top: 2px solid $neutral_dark;
  border-right: 2px solid $neutral_dark;
  border-left: 2px solid $neutral_dark;

  padding-inline-start: 0.75rem;

  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.aiDiffHeaderLeftSide {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  .aiBotOutlineIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.aiDiffHeaderText {
  @include label-two;
  margin: 0;
}

.aiDiffHeaderRightSide {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.fabBackground {
  display: flex;
  flex-direction: column;
  border-right: 0.125rem solid $neutral_dark;
  border-left: 0.125rem solid $neutral_dark;
  background: $neutral_white;
  box-shadow: 0.25rem 0.25rem 0.375rem 0 rgba(0 0 0 / 0.25);
  height: 612px;
  overflow-x: hidden;
  overflow-y: auto;

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
    border-bottom: 0.125rem solid $neutral_dark;
  }

  h2 {
    margin-bottom: 0;
  }
}

.chat {
  &Content {
    height: calc(100% - 84px);
    padding: 20px 16px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &Footer {
    display: flex;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    border-top: 2px solid $neutral_gray10;

    &Buttons {
      margin-inline-start: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 12px;
    }
  }
}

// Necessary to prevent "Was this helpful?..." message footer from being wider
// than the message box for short messages.
.message-assistant {
  min-width: 270px;
}

.message-user {
  margin-left: 48px;
}

.messageFeedback {
  &Container {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: $light-gray-600;
  }
  &Left {
    display: flex;
    align-items: center;
  }
  &Right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  }
  &Button i {
    color: $light-gray-600;
  }
  &Confirm i {
    color: $light_affirmative_500;
  }
}

.chips fieldset div {
  justify-content: flex-end;
}

.floatingActionButton {
  position: fixed;
  left: 10px;
  bottom: 48px;

  height: 55px;
  width: 55px;
  background-size: 55px;
  padding: 0;

  border-width: 0;
  border-radius: 30px;

  img {
    opacity: 1;
    border-radius: 30px;
  }
}

.aiBotImg {
  width: 42px;
  height: 68px;
  margin: 20px;
  float: left;
}

.hideWaitingForResponse {
  display: none;
}

.waitingForResponse {
  width: 50px;
}
