@import '@code-dot-org/css/font.scss';
@import '@code-dot-org/css/primitiveColors.scss';
@import '@code-dot-org/css/typography.scss';

// Tags common styles
.tags {
  display: flex;
  column-gap: 0.5em;

  .tag {
    display: flex;
    align-items: baseline;
    gap: 2px;
    color: var(--neutral-base-black);
    padding: 2px 12px;
    background-color: var(--brand-teal-5);
    border-radius: 6.25rem;
    max-width: 15em;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      display: flex;
      justify-content: center;
    }

    &:has(i:first-child) {
      padding-inline-start: 8px;
    }

    &:has(i:not(:first-child)) {
      padding-inline-end: 8px;
    }
  }
}

// Sizes
.tags-l {
  .tag {
    span {
      @include overline-one;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 1.5px;
    }

    i {
      font-size: 0.875rem;
      line-height: 1.25;
      width: 1.25rem;
      height: 1.125rem;
    }
  }
}

.tags-m {
  .tag {
    span {
      @include overline-two;
      line-height: 1.54;
      margin-bottom: 0;
      margin-top: 2px;
    }

    i {
      font-size: 0.75rem;
      line-height: 1.25;
      width: 1.125rem;
      height: 0.9375rem;
    }
  }
}

.tags-s {
  .tag {
    span {
      @include overline-three;
      line-height: 1.8;
      margin-bottom: 0;
      margin-top: 1px;
    }

    i {
      font-size: 0.625rem;
      line-height: 1.25;
      width: 1rem;
      height: 0.8125rem;
    }
  }
}
