@import '~@code-dot-org/css/primitiveColors.css';

.customDialogOverlay {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--neutral-black-alpha-90);
}

// Common dialog styles
.customDialog {
  position: relative;
}

.customDialogCloseButton {
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: 8px;
}

// Dialog colors
.customDialog-light {
  background-color: var(--neutral-base-white);
}

.customDialog-dark {
  background-color: var(--neutral-gray-90);
}
