@import '~@code-dot-org/css/primitiveColors.css';

// Common dialog styles
.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 39.375rem;
  max-width: 50rem;
  padding: 2.25rem 3.5rem 2.5rem 3.5rem;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 18px 0 rgb(0 0 0 / 0.3);

  &:has(.dialogIcon) {
    padding-top: 3.5rem;
  }
}

.dialogTextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;

  img {
    width: 16.25rem;
    height: 8.625rem;
  }

  h2,
  p {
    margin-bottom: 0;
  }
}

.dialogActionsSection {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.dialogIcon {
  position: absolute;
  inset-block-start: -32px;
  display: flex;
  width: 64px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--brand-teal-50);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 0.2);

  &::before {
    color: var(--neutral-base-white);
    text-align: center;
    font-size: 32px;
    width: 40px;
    line-height: 125%;
  }
}

.dialogCloseButton {
  position: absolute;
  inset-block-start: 9px;
  inset-inline-end: 9px;
}

// Dialog colors
.dialog-light {
  background-color: var(--neutral-base-white);
}

.dialog-dark {
  background-color: var(--neutral-gray-90);

  .dialogTextSection {
    h2,
    p {
      color: var(--neutral-base-white);
    }
  }
}
