:ruby
  artists = [
    {image: '/images/music-lab/sabrina-carpenter.png', alt_text: 'Sabrina Carpenter'},
    {image: '/images/music-lab/shakira.png', alt_text: 'Shakira'},
    {image: '/images/music-lab/benson-boone.png', alt_text: 'Benson Boone'},
    {image: '/images/music-lab/henry-moodie.png', alt_text: 'Henry Moodie'},
  ]

%ul.featured-artists.clear-styles.flex-container.justify-space-between.wrap
  - artists.each do |artist|
    %li
      %img{src: artist[:image], alt: artist[:alt_text]}
