@import '@code-dot-org/component-library/dist/styles/primitiveColors.css';
@import '@code-dot-org/component-library/dist/styles/mixins';
@import '@code-dot-org/component-library/dist/styles/typography.module';

.accountForm {
  label {
    &.emailInput {
      margin-bottom: 0.5rem;
    }

    &.verifiedTeacher {
      font-weight: bold;
      color: var(--sentiment-success-50);
      margin: 0;
    }
  }
}
