@import '~@code-dot-org/css/primitiveColors.css';
@import '~@code-dot-org/css/mixins';
@import '~@code-dot-org/css/typography.module';

.accountForm {
  label {
    &.emailInput {
      margin-bottom: 0.5rem;
    }

    &.verifiedTeacher {
      font-weight: bold;
      color: var(--sentiment-success-50);
      margin: 0;
    }
  }
}
