@import '@code-dot-org/themes/primitiveColors.scss';
@import '@code-dot-org/themes/variables.scss';
@import '@code-dot-org/themes/mixins.scss';
@import '@code-dot-org/themes/typography.scss';

// Dropdown common styles
.dropdownContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  margin: 0;

  &.styleAsFormField {
    width: $form-field-width;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    .dropdownArrowDiv {
      width: 100%;

      select {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .dropdownLabel {
    display: block;
  }

  .iconLeft {
    position: absolute;
    z-index: 1;
  }

  select {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background-color: unset;
    border-radius: 0.25rem;
    border: 1px solid;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: 2px solid var(--brand-teal-50);
      border-radius: 0.25rem;
      outline-offset: 2px;
    }

    &.readOnly {
      opacity: 1;
    }
  }

  // custom dropdown arrow styles
  .dropdownArrowDiv {
    position: relative;

    &:after {
      content: '\f078';
      font-family: 'Font Awesome 6 Pro', sans-serif;
      position: absolute;
      pointer-events: none;
      text-align: center;
    }
  }

  .helperSection {
    display: flex;
    align-items: baseline;
    align-self: stretch;
  }
}

// Dropdown colors
.dropdownContainer-black {
  .dropdownLabel {
    color: var(--neutral-base-black);
  }

  select {
    color: var(--neutral-base-black);
    border-color: var(--neutral-base-black);
    background-color: var(--neutral-base-white);

    &.hasError {
      border-color: var(--sentiment-error-50);
    }
  }

  .dropdownArrowDiv:after {
    color: var(--neutral-base-black);
  }

  .helperSection {
    color: var(--neutral-base-black);
  }

  .errorSection {
    color: var(--sentiment-error-50);
  }

  &:has(select:hover) {
    select:not(:disabled) {
      color: var(--neutral-base-black);
      background-color: var(--neutral-gray-10);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-black);
    }
  }

  &:has(select:active) {
    select:not(:disabled) {
      color: var(--neutral-base-black);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-black);
    }
  }

  &:has(select:disabled) {
    select {
      color: var(--neutral-gray-20);
      border-color: var(--neutral-gray-20);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-gray-20);
    }

    .helperSection,
    .errorSection {
      color: var(--neutral-gray-20);
    }
  }

  &:has(select.readOnly) {
    select {
      @include field-read-only-black-colors;
    }

    .dropdownArrowDiv:after {
      @include field-read-only-black-colors;
    }

    .helperSection,
    .errorSection {
      @include field-read-only-black-colors;
    }
  }
}

.dropdownContainer-gray {
  .dropdownLabel {
    color: var(--neutral-base-black);
  }

  select {
    color: var(--neutral-base-black);
    border-color: var(--neutral-gray-40);
    background-color: var(--neutral-base-white);

    &.hasError {
      border-color: var(--sentiment-error-50);
    }
  }

  .dropdownArrowDiv:after {
    color: var(--neutral-base-black);
  }

  .helperSection {
    color: var(--neutral-base-black);
  }

  .errorSection {
    color: var(--sentiment-error-50);
  }

  &:has(select:hover) {
    select:not(:disabled) {
      color: var(--neutral-base-black);
      background-color: var(--neutral-gray-10);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-black);
    }
  }

  &:has(select:active) {
    select:not(:disabled) {
      color: var(--neutral-base-black);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-black);
    }
  }

  &:has(select:disabled) {
    select {
      color: var(--neutral-gray-20);
      border-color: var(--neutral-gray-20);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-gray-20);
    }

    .helperSection,
    .errorSection {
      color: var(--neutral-gray-20);
    }
  }

  &:has(select.readOnly) {
    select {
      @include field-read-only-black-colors;
    }

    .dropdownArrowDiv:after {
      @include field-read-only-black-colors;
    }

    .helperSection,
    .errorSection {
      @include field-read-only-black-colors;
    }
  }
}

.dropdownContainer-white {
  .dropdownLabel {
    color: var(--neutral-base-white);
  }

  &.dropdownContainer.dropdownContainer-thin select,
  select {
    color: var(--neutral-base-white);
    border-color: var(--neutral-base-white);
    background-color: var(--neutral-base-black);
  }

  .helperSection,
  .errorSection {
    color: var(--neutral-base-white);
  }

  &:has(select:hover) {
    select:not(:disabled) {
      color: var(--neutral-base-white);
      background-color: var(--neutral-gray-90);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-white);
    }
  }

  &:has(select:active) {
    select:not(:disabled) {
      color: var(--neutral-base-white);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-base-white);
    }
  }

  &:has(select:disabled) {
    select {
      color: var(--neutral-gray-90);
      border-color: var(--neutral-gray-90);
    }

    .dropdownArrowDiv:after {
      color: var(--neutral-gray-90);
    }

    .helperSection,
    .errorSection {
      color: var(--neutral-gray-70);
    }
  }

  .dropdownArrowDiv:after {
    color: var(--neutral-base-white);
  }

  &:has(select.readOnly) {
    select {
      @include field-read-only-white-colors;
    }

    .dropdownArrowDiv:after {
      @include field-read-only-white-colors;
    }

    .helperSection,
    .errorSection {
      @include field-read-only-white-colors;
    }
  }
}

// Sizes
.dropdownContainer-l {
  &.dropdownContainer-thick {
    select {
      @include button-one-text;
      margin-bottom: 0;
    }
  }

  &.dropdownContainer-thin {
    select {
      @include body-one;
      margin-bottom: 0;
    }
  }

  .dropdownLabel {
    @include label-one;
    margin-bottom: 0;
  }

  select {
    height: 3rem;
    padding: 0.625rem 1rem;
    padding-inline-end: 3rem;
  }

  .iconLeft {
    font-size: 1.1875rem;
    line-height: 125%;
    width: 1.5rem;

    inset-inline-start: 1rem;
    top: 0.825rem;
  }

  &:has(.iconLeft) {
    select {
      padding-inline-start: 3rem;
    }
  }

  .dropdownArrowDiv:after {
    font-size: 1.1875rem;
    line-height: 1.25;
    height: 1.5rem;
    width: 1.5rem;
    inset-inline-end: 1rem;
    top: 0.825rem;
  }

  .helperSection {
    @include body-two;
    margin-bottom: 0;
    gap: 0.375rem;

    &.errorSection {
      color: var(--sentiment-error-50);
    }
  }
}

.dropdownContainer-m {
  &.dropdownContainer-thick {
    select {
      @include button-two-text;
      margin-bottom: 0;
    }
  }

  &.dropdownContainer-thin {
    select {
      @include body-two;
      color: inherit;
      margin-bottom: 0;
    }
  }

  .dropdownLabel {
    @include label-two;
    margin-bottom: 0;
  }

  select {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    padding-inline-end: 2.75rem;
  }

  .iconLeft {
    font-size: 1rem;
    line-height: 125%;
    width: 1.25rem;

    inset-inline-start: 1rem;
    top: 0.625rem;
  }

  &:has(.iconLeft) {
    select {
      padding-inline-start: 2.75rem;
    }
  }

  .dropdownArrowDiv:after {
    font-size: 1rem;
    line-height: 1.25;
    height: 1.25rem;
    width: 1.25rem;
    inset-inline-end: 1rem;
    top: 0.625rem;
  }

  .helperSection {
    @include body-three;
    margin-bottom: 0;
    gap: 0.375rem;

    &.errorSection {
      color: var(--sentiment-error-50);
    }
  }
}

.dropdownContainer-s {
  &.dropdownContainer-thick {
    select {
      @include button-three-text;
      margin-bottom: 0;
    }
  }

  &.dropdownContainer-thin {
    select {
      @include body-three;
      margin-bottom: 0;
    }
  }

  .dropdownLabel {
    @include label-three;
    margin-bottom: 0;
  }

  select {
    height: 2rem;
    padding: 0.3125rem 1rem;
    padding-inline-end: 2.625rem;
  }

  .iconLeft {
    font-size: 0.875rem;
    line-height: 125%;
    width: 1.125rem;

    inset-inline-start: 1rem;
    top: 0.425rem;
  }

  &:has(.iconLeft) {
    select {
      padding-inline-start: 2.625rem;
    }
  }

  .dropdownArrowDiv:after {
    font-size: 0.875rem;
    line-height: 1.25;
    height: 1.125rem;
    width: 1.125rem;
    inset-inline-end: 1rem;
    top: 0.425rem;
  }

  .helperSection {
    @include body-four;
    margin-bottom: 0;
    gap: 0.25rem;

    &.errorSection {
      color: var(--sentiment-error-50);
    }
  }
}

.dropdownContainer-xs {
  &.dropdownContainer-thick {
    select {
      @include button-four-text;
      margin-bottom: 0;
    }
  }

  &.dropdownContainer-thin {
    select {
      @include body-four;
      margin-bottom: 0;
    }
  }

  .dropdownLabel {
    @include label-four;
    margin-bottom: 0;
  }

  select {
    height: 1.5rem;
    padding: 0.125rem 0.5rem;
    padding-inline-end: 1.75rem;
  }

  .iconLeft {
    font-size: 0.8125rem;
    line-height: 125%;
    width: 1rem;

    inset-inline-start: 0.5rem;
    top: 0.25rem;
  }

  &:has(.iconLeft) {
    select {
      padding-inline-start: 1.75rem;
    }
  }

  .dropdownArrowDiv:after {
    font-size: 0.8125rem;
    line-height: 1.25;
    height: 1rem;
    width: 1rem;
    inset-inline-end: 0.5rem;
    top: 0.25rem;
  }

  .helperSection {
    @include body-four;
    margin-bottom: 0;
    gap: 0.25rem;

    &.errorSection {
      color: var(--sentiment-error-50);
    }
  }
}
