- script_data = {}
- script_data[:sectionCode] = section_code

- content_for(:head) do
  = stylesheet_link_tag 'css/pd', media: 'all'
  %script{src: webpack_asset_path('js/followers/students_cannot_join.js'), data: {studentCannotJoin: script_data.to_json}}

#followers-students-cannot-join
