@import '@code-dot-org/css/primitiveColors.scss';
@import '@code-dot-org/css/font.scss';
@import '@code-dot-org/css/mixins.scss';
@import '@code-dot-org/css/typography.scss';

// Chips common styles
.chips {
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;

    > label {
      display: block;
    }

    .chipsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .chip {
      display: inline-block;
      background-color: var(--neutral-base-white);
      border: 1px solid var(--neutral-base-black);
      color: var(--neutral-base-black);
      min-width: 30px;
      text-align: center;
      border-radius: 100px;
      white-space: nowrap;
      margin: 0;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
      }

      // Checked styles
      &:has(input[type='checkbox']:checked) {
        border: 1px solid var(--brand-teal-50);
        background-color: var(--brand-teal-50);
        color: var(--neutral-base-white);
      }

      // Hover styles
      &:hover {
        background-color: var(--neutral-gray-10);

        &:has(input[type='checkbox']:checked) {
          background-color: var(--brand-teal-70);
        }
      }

      // Pressed styles
      &:active {
        background-color: var(--neutral-gray-10);
        outline: var(--brand-teal-50) solid 2px;
        outline-offset: -2px;

        &:has(input[type='checkbox']:checked) {
          background-color: var(--brand-teal-70);
          outline: var(--brand-teal-50) solid 2px;
          outline-offset: -2px;
        }
      }

      // Focus styles
      &:has(input[type='checkbox']:focus-visible) {
        outline: 2px solid var(--brand-teal-50);
        outline-offset: 2px;
      }

      //Disabled styles
      &:has(input[type='checkbox']:disabled) {
        color: var(--neutral-gray-20);
        border-color: var(--neutral-gray-20);

        &:hover {
          cursor: not-allowed;
          background-color: var(--neutral-base-white);
        }

        &:active {
          background-color: var(--neutral-base-white);
          outline: none;
        }
      }

      &:has(input[type='checkbox']:disabled:checked) {
        background-color: var(--neutral-gray-20);
        color: var(--neutral-base-white);
      }
    }
  }

  fieldset div:nth-of-type(1) {
    margin-inline-start: 0;
  }
}

// Chips Colors
.chips-black {
  fieldset {
    .chip {
      border-color: var(--neutral-base-black);
    }
  }
}

.chips-gray {
  fieldset {
    .chip {
      border-color: var(--neutral-gray-40);
    }
  }
}

// Chips sizes
.chips-l {
  .groupLabel {
    @include label-one;
  }

  .chip {
    padding: calc(0.62rem + 2px) 1.25rem 0.62rem;

    &.chip-thick {
      @include button-one-text;
    }

    &.chip-thin {
      @include body-one;
    }
  }
}

.chips-m {
  .groupLabel {
    @include label-two;
  }

  .chip {
    padding: calc(0.5rem + 2px) 1rem 0.5rem;

    &.chip-thick {
      @include button-two-text;
    }

    &.chip-thin {
      @include body-two;
    }
  }
}

.chips-s {
  .groupLabel {
    @include label-three;
  }

  .chip {
    padding: calc(0.31rem + 1px) 0.75rem 0.31rem;

    &.chip-thick {
      @include button-three-text;
    }

    &.chip-thin {
      @include body-three;
    }
  }
}

.chips-xs {
  .groupLabel {
    @include label-four;
  }

  .chip {
    padding: calc(0.12rem + 1px) 0.5rem 0.12rem;

    &.chip-thick {
      @include button-four-text;
    }

    &.chip-thin {
      @include body-four;
    }
  }
}
