@import '@/common/styles/primitiveColors.css';

// Divider common styles
hr.divider {
  border: 0;
  border-top: 1px solid;
  margin: 0;
  width: 100%;
}

// Divider Colors
hr.divider {
  &-primary {
    border-top-color: var(--neutral-gray-20);
  }

  &-strong {
    border-top-color: var(--neutral-gray-50);
  }
}

// Divider Spacing
hr.divider-margin {
  &-small {
    margin: 0.5rem 0;
  }

  &-medium {
    margin: 1rem 0;
  }

  &-large {
    margin: 2rem 0;
  }

  &-extra-large {
    margin: 4rem 0;
  }
}
