---
title: Hour of Code
theme: responsive_full_width
---

%link{href: "/css/generated/design-system-pegasus.css", rel: "stylesheet"}
%link{href: "/css/generated/page/hour-of-code-styles.css", rel: "stylesheet", type: "text/css"}

%section.hero-banner-basic.overlay
  .wrapper.grid-container.justify-space-between.align-items-center.gap-2
    .text-wrapper
      %h1.white
        =hoc_s("music_lab.jam_session.name")
      %p.body-one.white
        =hoc_s("music_lab.jam_session.banner.desc_01")
      %a.link-button.white{href: CDO.studio_url("/s/music-jam-2024/reset")}
        =hoc_s("music_lab.jam_session.button.start")

      .afe.flex-container.align-items-baseline.wrap
        %p.add-margin-top.no-margin-bottom.white
          =hoc_s("music_lab.in_partnership_with")
        %figure
          %img{src: "/images/avatars/amazon_future_engineer_light.png", alt: hoc_s("music_lab.amazon_future_engineer")}
    %figure
      %img{src: "/images/music-lab/music-lab-banner-graphic-best-of-stem.png", alt: "", style: "width: 100%"}

%section
  .wrapper
    %h2=hoc_s("hoc_page.activities.heading")
    %p.has-external-link
      =hoc_s("hoc_page.activities.desc", markdown: :inline, locals:{register_url: CDO.hourofcode_url("/events")})
    = view :hoc_activites_featured
    .centered{style: "margin-top: 3rem"}
      %hr
      %h3=hoc_s(:call_to_action_explore_all_hoc_activities)
      .see-all-activities.flex-container.align-items-center.wrap.gap-1
        %img{src: "/images/tutorials/hoc2019/oceans.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/flappy.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/frozen.jpg", alt: ""}
        %img{src: "/images/tutorials/hoc2021/poem_art.jpg", alt: ""}
        %img{src: "/images/tutorials/resubmission/starwars.jpg", alt: ""}
      %a.link-button{href: CDO.hourofcode_url("/learn")}
        =hoc_s(:call_to_action_explore_activities)


%section.bg-neutral-light
  .wrapper
    %h2=hoc_s("hoc_page.what_is_hoc.heading")
    .flex-container.justify-space-between.wrap.gap-1
      .text-wrapper.col-50
        %p.body-three.has-external-link
          =hoc_s("hoc_page.what_is_hoc.desc_01", markdown: :inline, locals:{hoc_url: CDO.hourofcode_url()})
        %p.body-three
          =hoc_s("hoc_page.what_is_hoc.desc_02", markdown: :inline)
      %figure.col-45
        %img{src: "/images/hoc-page-kids-computer.png", alt: "", style: "width: 100%"}

%section
  .wrapper.centered
    %h2=hoc_s("hoc_page.beyond.heading")
    = view :hoc_page_beyond

= view :analytics_event_log_helper, event_name: AnalyticsConstants::HOC_LANDING_PAGE_VISITED
