@import '~@code-dot-org/css/primitiveColors.css';

// Checkbox common styles
.label {
  display: flex;
  gap: 8px;
  align-items: center;

  i {
    vertical-align: bottom;

    &::before {
      display: inline-block;
      content: ' ';
      text-align: center;
      border: 2px solid var(--neutral-base-black);
      border-radius: 4px;
    }
  }

  span {
    margin-bottom: 0;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    &:checked + i::before {
      content: '\f00c';
      color: var(--neutral-base-white);
      background: var(--brand-teal-50);
      border: 2px solid var(--brand-teal-50);
      border-radius: 4px;
    }

    &:indeterminate + i::before {
      content: '\e404';
      color: var(--neutral-base-white);
      background: var(--brand-teal-50);
      border: 2px solid var(--brand-teal-50);
      border-radius: 4px;
    }

    // Focus styles
    &:focus-visible {
      + i::before {
        outline: 2px solid var(--brand-teal-50);
        outline-offset: 2px;
        border-radius: 4px;
      }
      &:indeterminate + i::before {
        color: var(--neutral-base-white);
        background: var(--brand-teal-50);
        border: 2px solid var(--brand-teal-50);
      }
    }
  }

  // Hover styles
  &:hover {
    cursor: pointer;

    i {
      &::before {
        background-color: var(--brand-teal-5);
      }
    }

    input[type='checkbox'] {
      &:checked + i::before,
      &:indeterminate + i::before {
        color: var(--neutral-base-white);
        background: var(--brand-teal-70);
        border-color: var(--brand-teal-70);
      }
    }
  }

  // Pressed styles
  &:active {
    i {
      &::before {
        background-color: var(--brand-teal-5);
        border-color: var(--brand-teal-50);
      }
    }

    input[type='checkbox'] {
      &:checked + i::before,
      &:indeterminate + i::before {
        color: var(--neutral-base-white);
        background: var(--brand-teal-70);
        border-color: var(--brand-teal-50);
      }
    }
  }

  // Disabled styles
  &:has(input[type='checkbox']:disabled) {
    span {
      color: var(--neutral-gray-20);
    }

    i::before {
      border-color: var(--neutral-gray-20);
    }

    input[type='checkbox'] {
      &:checked + i::before,
      &:indeterminate + i::before {
        background: var(--neutral-gray-20);
        color: var(--neutral-base-white);
      }
    }

    &:hover {
      cursor: not-allowed;
      i::before {
        background: var(--neutral-base-white);
      }

      input[type='checkbox']:checked + i::before,
      input[type='checkbox']:indeterminate + i::before {
        background: var(--neutral-gray-20);
        border-color: var(--neutral-gray-20);
      }
    }
  }
}

// Sizes
.label-xs {
  i {
    width: 16px;
    height: 16px;
  }

  i::before {
    font-size: 8px;
    width: 12px;
    height: 12px;
    line-height: 12px;
  }
}

.label-s {
  i {
    width: 18px;
    height: 18px;
  }

  i::before {
    font-size: 9.5px;
    width: 14px;
    height: 14px;
    line-height: 14px;
  }
}

.label-m {
  i {
    width: 20px;
    height: 20px;
  }

  i::before {
    font-size: 11px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

.label-l {
  i {
    width: 24px;
    height: 24px;
  }

  i::before {
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}
