:ruby
    ai_iteration_tools_data = {}
    ai_iteration_tools_data[:canMakeDatasets] = current_user.levelbuilder?
    ai_iteration_tools_data[:canUseAITutor] = current_user.has_ai_tutor_access? && current_user.levelbuilder?

%script{src: webpack_asset_path('js/ai_iteration/tools.js'), data: {aiIterationToolsData: ai_iteration_tools_data.to_json}}

#ai-iteration-tools
