@import '@code-dot-org/component-library-styles/primitiveColors.scss';
@import '@code-dot-org/component-library-styles/typography.module.scss';
@import '@code-dot-org/component-library-styles/mixins.scss';

$alert-span-vertical-top-spacing: 2px;

.alert {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;

  .alertContentContainer {
    display: flex;
    flex: 1 0 0;
    align-items: center;

    i {
      text-align: center;
    }

    a {
      color: var(--neutral-base-black);
    }
  }
}

// Types (colors)
.alert-primary {
  background-color: var(--brand-purple-10);
}

.alert-success {
  background-color: var(--sentiment-success-10);

  .alertContentContainer i {
    color: var(--sentiment-success-50);
  }
}

.alert-danger {
  background-color: var(--sentiment-error-10);

  .alertContentContainer i {
    color: var(--sentiment-error-50);
  }
}

.alert-warning {
  background-color: var(--sentiment-warning-10);

  .alertContentContainer i {
    color: var(--sentiment-warning-50);
  }
}

.alert-info {
  background-color: var(--sentiment-information-10);

  .alertContentContainer i {
    color: var(--sentiment-information-50);
  }
}

.alert-gray {
  background-color: var(--neutral-gray-5);
}

// Sizes
.alert-l {
  padding: 0.875rem 1.125rem;

  .alertContentContainer {
    gap: 0.75rem;

    i {
      font-size: 1.1875rem;
      line-height: 125%;
      width: 1.5rem;
    }

    span {
      @include body-one;
      margin-top: $alert-span-vertical-top-spacing;
      margin-bottom: 0;
    }
  }
}

.alert-m {
  padding: 0.75rem 1rem;

  .alertContentContainer {
    gap: 0.625rem;

    i {
      font-size: 1rem;
      line-height: 125%;
      width: 1.25rem;
    }

    span {
      @include body-two;
      margin-top: $alert-span-vertical-top-spacing;
      margin-bottom: 0;
    }
  }
}

.alert-s {
  padding: 0.625rem 0.875rem;

  .alertContentContainer {
    gap: 0.5rem;

    i {
      font-size: 0.875rem;
      line-height: 125%;
      width: 1.125rem;
    }

    span {
      @include body-three;
      margin-top: $alert-span-vertical-top-spacing;
      margin-bottom: 0;
    }
  }
}

.alert-xs {
  padding: 0.5rem 0.75rem;

  .alertContentContainer {
    gap: 0.5rem;

    i {
      font-size: 0.8125rem;
      line-height: 125%;
      width: 1rem;
    }

    span {
      @include body-four;
      margin-top: $alert-span-vertical-top-spacing;
      margin-bottom: 0;
    }
  }
}
